@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
aside {
  width: 274px;
  height: 2090px;
  flex-shrink: 0;
  background-color: #F6F5EC;
}

.nairaland_general {
  margin-left: 32px;
}

.nairaland_general_heading {
  color: #175616;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  margin-bottom: 20px;
}

p {
  margin-left: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
  color: #131212;
  margin-bottom: 30px;
}

.forum_title {
  margin-left: 32px;
  margin-top: 50px;
  margin-right: 42px;
  margin-bottom: 52px;
}

main {
  flex-grow: 1;
  background-color: #fff;
}

.top_bar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #F6F5EC;
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 1px 1px 7px 0px #C8C8C8;
}

.welcome_message {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-left: 24px;
  margin-top: 19px;
  margin-bottom: 19px;
  color: #131212;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.logged_details {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.user_name {
  margin-right: 20px;
  margin-top: 19px;
  margin-bottom: 19px;
  color: #131212;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.user_img {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification {
  margin-right: 30px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.engage_community {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}

.add_topic {
  display: inline-flex;
  margin-top: 26px;
  gap: 15px;
  align-items: flex-start;
  padding: 10px 40px 10px 24px;
  border-radius: 30px;
  border: 1px solid rgba(23, 86, 22, 0.22);
  color: #131212;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.item_list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.item {
  color: rgba(19, 18, 18, 0.36);
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 37px;
  margin-bottom: 37pc;
}

.search_container {
  position: relative;
  margin-top: 23px;
}

.search_input {
  border-radius: 25px;
  height: 50px;
  border: 1px solid rgba(23, 86, 22, 0.22);
  background: #F8F8F8;
  padding-left: 24px;
  color: #131212;
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 483px;
}

.search_icon_display {
  position: absolute;
  cursor: pointer;
  top: 55%;
  right: 13px;
  transform: translateY(-50);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
