@mixin box-shadow(){
    box-shadow: 1px 1px 7px 0px #C8C8C8;
    -webkit-box-shadow: 1px 1px 7px 0px #C8C8C8;
    -moz-box-shadow: 1px 1px 7px 0px #C8C8C8;
    -ms-box-shadow: 1px 1px 7px 0px #C8C8C8;
}

@mixin box-shadow2(){
    box-shadow: 0px 1px 1px 0px #C8C8C8;
    -webkit-box-shadow: 0px 1px 1px 0px #C8C8C8;
    -moz-box-shadow: 0px 1px 1px 0px #C8C8C8;
    -ms-box-shadow: 0px 1px 1px 0px #C8C8C8;
}

@mixin small-screens-and-below {
    @media screen and (max-width:800px){
        @content
    }
}

@mixin medium-screens-and-below {
    @media screen and (max-width:900px){
        @content
    }
}

@mixin large-screens-and-below{
    @media screen and (max-width:1250px){
        @content
    }
}

@media(max-width:$medium){
   .none{
    visibility: visible;
    
   }
}
