// _variables.scss

$small:480px;
$medium: 768px; // 900px/16
$large: 1024px; // 1200px/16
$extra-large: 1201px; // 1800px/16

$font:'Open Sans', sans-serif;

// $mobile: $x-small;
// $tablet: $small;
// $desktop: $medium;
// $large-desktop: $large;