@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;
@use 'pages' as *;
@use 'themes' as *;
@use 'vendors' as *;

@import './components/sign-up.scss';
@import './components/login-page.scss';


html {   //Needs to be removed
    box-sizing: border-box;
    font-family: $font-family;
    width:100%;
}

body {  //Needs to be removed
    font-weight: $normal;
    width:100%;
    // background-color: red;  
}


//Abstract files
@import "./abstracts/mixins";
//Base files
@import "./base/typography", "./base/base", "./base/reset";
//Component files
@import "./components/aside", "./components/main";
//Pages files
@import "./pages/unauthenticated-page";
//Layout files