// @use 'abstracts' as *;
// @use 'base' as *;
// @use 'components' as *;
// @use 'layout' as *;
// @use 'pages' as *;
// @use 'themes' as *;
// @use 'vendors' as *;

//Abstract files
//Base files
@import "./base/typography";
//Component files
@import "./components/aside", "./components/main";
//Layout files
@import "./layout/container";


// html {
//     box-sizing: border-box;
//     font-family: $font-family;
// }

// body {
//     font-weight: $normal;
//     background-color: ;  
// }

// ul {
//     list-style: none;
// }

// a {
//     text-decoration: none;
// }

// .row {
//     display: flex;
// }
