@use 'abstracts' as *;
@use 'base' as *;
@use 'components' as *;
@use 'layout' as *;
@use 'pages' as *;
@use 'themes' as *;
@use 'vendors' as *;

@import './components/sign-up.scss';
// @use "./components/sign-up";

html {
    box-sizing: border-box;
    font-family: $font-family;
    width:100%;
}

body {
    font-weight: $normal;
    width:100%;
    // background-color: red;  
}

// ul {
//     list-style: none;
// }

a {
    text-decoration: none;
}

// .row {
//     display: flex;
// }