 #section-one{
    border: 1px solid #C8CCC0;
    padding:10px ;
    border-radius: 12px;
    font-size:14px;
    font-weight: normal;
    background: #F6F6EC;
 }
 img{
    margin: 0 auto;
 }
 input{
        border-radius: 15px;
        background-color: #ffffff;
        outline: none;
        height: 26px;
    }
    #long{
        width:200px;
    }
    #short{
        width:61px
    }
    span{
            color: blue;
        }
