.aside {
    background-color: $background-color1 ;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 2rem 330px 2rem;
    margin-bottom: 0;

    &_header{
        padding: 50px 0;

        &--logo {
            max-width: 200px;
           
        }
    }

    &_paragraph{
        padding: 30px 0 20px 0;
        color: $green-color;

        &:nth-of-type(1) {
            padding-top: 0;
        }
        
    }

    &_list {
        gap: 20px;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        

        & a{
            color: $black-color;

            &:last-of-type {
                padding-bottom: 15.4rem;
            }
        }
    }

    @include medium-screens-and-below{
        display: none;
    }

    @media screen and (min-width: 901px) and (max-width:1250px){
        padding-bottom: 765px;
    }
}
