#container{
   width: 100%;
   max-width: 1200px;
   min-height: 100vh;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   text-align: center;
    
}
#section-two{
      margin-top: 7px;
      border-radius: 12px;
      background: #F6F6EC;
      font-family: $font-family;
      font-size:14px;
      font-weight: normal; 
   }
 #section-two_heading{
   background: #E8ECE0;
    text-align: center;
   border-radius: 8px;
  }
@mixin typography{
      font-family: $font-family;
      font-size:14px;
      color: #181870;
      font-style: normal;
     font-weight: 400;
     
    }
    #section-two_componentA, #section-two_componentB, #section-two_componentC{
       @include typography;
         padding: 4px;
         background-color: #F6F6EC;
         text-align: left;
         
       }
      #section-two_componentB {
         background: #E8ECE0;
      }
      #section-two_componentC{
         border-radius: 12px;
         border-top: none;
         
      }
      #section-three{
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            
            
         }
         #section-three_img{
            width: 500px;
            gap:0px;
            text-align:center ;
            }
         .visible{
            width: 100px;
            margin: 0 auto;
            
         }
  
      .none{
   visibility:hidden;
         
      }

    #section-four{
       background: #F6F6EC;
         
      }
      #section-four_componentA {
            background: #E8ECE0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            color: #181870;
            text-align: center;
            padding: 8px ;
         
         }
         #smiley {
               width: 15px;
               background-color: #E8ECE0 ;
               flex: shrink 0;
               margin-right: 8px;
               text-align: center;
            }
            #smiley-two{
               width: 15px;
               margin-left: 8px;
            }
         #section-four_componentB{
                text-align: center;
                padding: 10px 0px ;
               text-align: center;
               
            }
            #news-component{
               @include typography;
               padding: 4px;
               display: flex;
               justify-content: center;
            }
            #icon{
               background:#F6F6EC ;
               width: 10px;
               text-align: center;
               
            }


       @media(min-width:600px){
         #section-three_img{
            width: 600px;
           margin: 0 auto;
         }
       }
            @media(min-width:780px){
              
               .none{
                visibility: visible;
                
               }
               #section-three{
                  flex-direction: row-reverse;
                  justify-content: space-around;
               }
               #section-three_img{
                  width: 320px;
                 margin: 0 auto;
                  
               
               }
               #icon{
                     background:#F6F6EC ;
                     width: 10px;
                     margin: 0px 10px;
                     
                  }
                  #long{
                         width:514px;
                     }
                     #short{
                         width:61px
                     }
            }
            @media(min-width:1200px)
   {
      #section-three_img{
         width: 400px;
        margin: 0 auto;
         
      
      }
   }

